---
import Link  from '../../components/Link.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

const title = 'Links';

export async function getStaticPaths() {
    return Astro.fetchContent('/_posts/links/*.md').map(link => ({ params: { slug: link.title }, props: { link } }));
}

const {slug} = Astro.request.params;
const {link} = Astro.props;
---

<BaseLayout title={title}>
    <h1>{title}</h1>

    Link link={link} />
</BaseLayout>
